.interrogation {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: white;
}

.bulles {
  position: relative;
  padding-left: 13%;
  margin-top: 7%;
  width: 87%;
}

.truefalse {
  position: absolute;
  text-align: center;
  line-height: normal;
  width: 60%;
  height: 20%;
  margin-left: 16%;
  color: red;
  font-size: 1.2rem;
}

@media screen and (max-width: 767px) {
  .bulles {
    transform: scaleX(-1);
    width: 90%;
    right: 35%;
    top: 7%;
  }

  .truefalse {
    width: 60%;
    height: 20%;
    top: 35%;
    font-size: 1rem;
    left: -40%;
  }
}
