.interrogation {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto 0;
}

.bulle-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bulles {
  width: 87%;
}

.truefalse {
  position: absolute;
  width: 60%;
  height: 50%;
  top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rep-paragraph {
  width: 90%;
  word-wrap: break-word;
}

.personnage {
  width: 300px;
  height: 300px;
}

@media screen and (max-width: 600px) {
  /* .bulles {
    transform: scaleX(-1);
    width: 90%;
    right: 35%;
    top: 7%;
  } */

  /* .truefalse {
    width: 60%;
    height: 20%;
    top: 35%;
    font-size: 1rem;
    left: -40%;
  } */
}
