.interrogation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: -100px;
}

.bulles {
  width: 50%;
  margin-bottom: -100px;
}

.personnage {
  width: 80%;
}

@media screen and (max-width: 767px) {
  .personnage {
    width: 45%;
  }

  .bulles {
    width: 45%;
    height: 50%;
  }

  .interrogation {
    /**/
  }
}
