.Quiz {
  height: calc(100vh - 122px);
  width: 90vw;
  margin: auto auto;
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 600px) {
  .Quiz {
    position: relative;
    bottom: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
}
