.Quiz {
  height: calc(100vh - 120px);
  width: 100%;
  padding-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .Quiz {
    display: flex;
    flex-direction: column;
  }
}
