.footer {
  height: 70px;
  width: 100vw;
  background-color: gray;
  border-radius: 90% 90% 0 0;
  color: rgb(255, 255, 255);
}
.footer-content {
  position: relative;
  display: flex;
  justify-content: center;
}

.footer-content .info-container {
  padding-top: 10px;
  display: flex;
  width: 60%;
  justify-content: space-around;
  text-align: center;
}

.list-container {
  font-size: 0.7rem;
}

.footer-content li {
  color: white;
  margin-bottom: 0;
}

.footer-content .social-container {
  position: absolute;
  top: -35px;
  left: calc(50% - 120px);
  display: flex;
  gap: 30px;
}

.footer-content .icon {
  position: relative;
  height: 30px;
  width: 30px;
}

.fb {
  color: rgb(156, 156, 255);
  top: 2px;
  rotate: -1.5deg;
}
.twitter {
  color: rgb(147, 147, 255);
}
.yt {
  color: red;
}
.email {
  color: rgb(165, 165, 255);
  top: 2px;
  rotate: 1.5deg;
}

.footer-content a {
  scale: 1;
  cursor: pointer;
  transition: scale 100ms ease-in;
}
.footer-content a:hover {
  scale: 1.2;
}

@media screen and (max-width: 600px) {
  .footer-content .info-container {
    padding-top: 10px;
  }

  .footer-content li {
    font-size: 0.5rem;
  }

  .footer-content .social-container {
    top: -35px;
    left: calc(50% - 80px);
    gap: 10px;
  }

  .footer-content .icon {
    scale: 0.5;
  }
}
