.Home {
  height: 100vh;
  width: 100vw;
  color: white;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
}

.orbit {
  opacity: 0.1;
}

.planets-container {
  width: 100%;
  position: relative;
}

.planet {
  position: absolute;
  background-size: cover;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transition: all 500ms ease-in-out;
  cursor: pointer;
}
.planet:hover {
  scale: 1.1;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
}

.Mercury {
  height: 6vh;
  width: 6vh;
  background-image: url("../../assets/images/astres/1_mercury.png");
  bottom: calc(-3vh + 0.8vw);
  left: 30%;
  z-index: 8;
}

.Venus {
  height: 8vh;
  width: 8vh;
  background-image: url("../../assets/images/astres/2_venus.png");
  bottom: calc(-4.5vh + 2vw);
  left: 80%;
  z-index: 7;
}

.Earth {
  height: 8vh;
  width: 8vh;
  background-image: url("../../assets/images/astres/3_earth.png");
  bottom: calc(-4vh + 0.5vw);
  left: 60%;
  z-index: 6;
}

.Mars {
  height: 6.5vh;
  width: 6.5vh;
  background-image: url("../../assets/images/astres/4_mars.png");
  bottom: calc(-2.3vh + 1.2vw);
  left: 15%;
  z-index: 5;
}

.Jupiter-container {
  margin: 2vh 0;
}
.Jupiter {
  height: 13vh;
  width: 13vh;
  background-image: url("../../assets/images/astres/5_jupiter.png");
  bottom: calc(-7.1vh + 0.7vw);
  left: 30%;
  z-index: 4;
  rotate: -20deg;
}

.Saturn {
  height: 18vh;
  width: 24.2vh;
  background-image: url("../../assets/images/astres/6_saturn.png");
  bottom: calc(-8vh + 0.8vw);
  left: 55%;
  z-index: 3;
  box-shadow: none;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Saturn:hover {
  box-shadow: none;
}
.Saturn-halo {
  height: 12vh;
  width: 12vh;
  position: absolute;
  box-shadow: 0 0 15px 3px rgb(255, 255, 255, 0.5);
  border-radius: 50%;
  transition: all 500ms ease-in-out;
  z-index: 4;
}
.Saturn:hover .Saturn-halo {
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
}

.Uranus {
  height: 8vh;
  width: 8vh;
  background-image: url("../../assets/images/astres/7_uranus.png");
  bottom: calc(-3.6vh + 2.1vw);
  left: 85%;
  z-index: 2;
}

.Neptune {
  height: 7vh;
  width: 7vh;
  background-image: url("../../assets/images/astres/8_neptune.png");
  bottom: calc(-4vh + 0.5vw);
  left: 50%;
}

.info {
  position: absolute;
  top: -70px;
  left: 145px;
  width: 115px;
  height: 75px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-info {
  filter: drop-shadow(0px 0px 10px rgb(255, 208, 0));
}

.astronaut-container {
  position: absolute;
  left: 5%;
  bottom: 10%;
  height: 200px;
  width: 200px;
}

.astronaut {
  height: 200px;
  width: 200px;
}
.cloud {
  top: -120px;
  right: -100px;
  height: 200px;
  width: 200px;
  position: absolute;
}

@media screen and (max-width: 600px) {
  .Home {
    background-color: rgb(25, 32, 109);
    gap: 40px;
  }

  .planet {
    scale: 0.7;
  }

  .Mercury {
    left: 65%;
  }

  .Venus {
    left: 20%;
  }

  .Earth {
    bottom: calc(-3.5vh + 0.5vw);
    left: 65%;
    z-index: 6;
  }

  .Mars {
    bottom: calc(-3vh + 1.2vw);
    left: 20%;
  }

  .Jupiter-container {
    margin: 0;
  }
  .Jupiter {
    bottom: calc(-6.2vh + 0.7vw);
    left: 60%;
  }

  .Saturn {
    left: 0%;
  }

  .Uranus {
    left: 70%;
  }

  .Neptune {
    bottom: calc(-3.2vh + 0.5vw);
    left: 15%;
  }
}
